@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Sacramento');

/*Configurações gerais da página*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
  scroll-behavior: smooth;
}

/*Estilização da Imagem de fundo, título e botão no topo*/
header#topo{
	background-image: url("../img/fundo.jpg");
	background-size: cover;
	min-height: 100vh;
	text-align: center;
}

header#topo h1{
	display: inline-block;
	margin-top: 15%;
	color: white;
	font-size: 9em;
	font-family: 'Sacramento', cursive;
}

div#btn a{
	display: inline-block;
	margin-top: 1%;
	text-decoration: none;
	border: 1px solid #D9422D;
	padding: 20px 40px;
	border-radius: 5px;
	background-color: #D9422D;
	color: white;
	font-size: 25px;
	font-family: 'Nunito Sans', sans-serif;
}

div#btn a:hover{
	background-color: #B23625;
	border-color: #B23625;
}



/*Estilização da linha do tempo*/
@media only screen and (min-width: 1170px) {
  .cd-is-hidden {
    visibility: hidden;
  }
}

.cd-timeline {
  overflow: hidden;
  margin: 2em auto;
}

.cd-timeline h2{
	font-size: 5em;
	color: #9BB5C2;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
}

.cd-timeline__container {
  position: relative;
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2em 0;
}

.cd-timeline__container::before {
  /*Linha vertical*/
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background-color: #9BB5C2;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline {
    margin-top: 2em;
    margin-bottom: 3em;
  }
  .cd-timeline__container::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline__block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline__block:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__block:first-child {
  margin-top: 0;
}

.cd-timeline__block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__block {
    margin: 4em 0;
  }
}

.cd-timeline__img {
  position: absolute;
  top: 0;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #9BB5C2;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__img {
    width: 40px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    transform: translateZ(0);
  }
  .cd-timeline__img.cd-timeline__img--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
            animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.cd-timeline__content {
  position: relative;
  margin-left: 60px;
  background: #D64D2C;
  border-radius: 0.40em;
  padding: 2em;
}

.cd-timeline_x_content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__content::before {
  /* triangulo na ponta de cada bloco */
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
}

.cd-timeline__content p,
.cd-timeline__date {
  font-size: 1.3rem;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

.cd-timeline__content p {
  margin: .5em 0;
  line-height: 1.5;
}

.cd-timeline__date {
  display: inline-block;
  color: #D64D2C;
  margin-top: -10px;
}

.cd-timeline__date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

@media only screen and (min-width: 768px) {
  .cd-timeline__content p {
    font-size: 1.6rem;
  }
  .cd-timeline__date {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }

  .cd-timeline__content::before {
    top: 14px;
    left: 100%;
    border-color: transparent;
    border-left-color: #D64D2C;
  }

  .cd-timeline__date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: -5px;
    font-size: 1.6rem;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content {
    float: right;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
    top: 14px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #D64D2C;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline {
    float: right;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cd-timeline__content.cd-timeline__content--bounce-in {
    visibility: visible;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}



/*Bloco de texto logo abaixo da linha do tempo*/
section#conteudo{
	background-color: #D64D2C;
	color: white;
	padding: 100px;
	height: 350px;
}

section#conteudo p{
	font-size: 1.8rem;
	color: white;
 	font-family: 'Nunito Sans', sans-serif;
 	text-align: justify;
 	width: 70%;
 	margin-right: auto;
 	margin-left: auto;
}

/*Segundo trecho de texto após a linha do tempo*/
section#segundo-conteudo{
	color: #D64D2C;
	padding: 100px;
	height: 350px;
	text-align: justify;
}

section#segundo-conteudo p{
	font-size: 1.8rem;
  font-family: 'Nunito Sans', sans-serif;
  text-align: justify;
  width: 70%;
  margin-top: 1%;
 	margin-right: auto;
 	margin-left: auto;
}

/*Seção com botão de link para os jogos*/
section#jogos{
  background-color: #D64D2C;
  color: white;
  padding: 100px;
  height: 700px;
  text-align: center;
}

section#jogos>div{
  display: inline-block;
  background-color: white;
  color: #D64D2C;
  border-radius: 10px;
  width: 35%;
  height: 100%;
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
}

/*retângulo do jogo da forca*/
div#forca{
  margin-right: 20px;
  background: url('../img/jogo-forca.png') no-repeat 50% 80px;
  background-size: 300px;
}

/*retângulo do jogo da velha*/
div#velha{
  margin-left: 20px;
  background: url('../img/jogo-velha.png') no-repeat 50% 80px;
  background-size: 300px;
}

/*Botão dos jogos*/
section#jogos a{
  margin-top: 55%;
}

@media(max-width: 1500px){
  section#jogos a{
    margin-top: 75%;
  }
}