* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#jogo {
  margin-top: 100px;
  flex: 1;
  font-family: 'Short Stack', sans-serif;
  font-size: 5vh;
  /*background-color: #3e92cc;*/
  color: white;
  text-shadow: 1px 1px 3px #18435a;
  min-height: 100vh;
  max-height: 100vh;
  transition: background-color 1s linear;
  display: flex;
  flex-direction: column;
}

#jogo.vencedor {
  background: pink;
}

#jogo.empate {
  background: orange;
}

#jogo a {
  color: #18435a;
  text-decoration: none;
  transition: all 400ms ease-in-out;
}

#jogo a:hover {
  color: #2a628f;
}

#contentor {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#cabecalho {
  padding: 1em;
  flex: 0;

  display: flex;
  flex-direction: column;
}

#cabecalho h1 {
  font-weight: normal;
  font-size: 1.5em;
  white-space: nowrap;
  text-align: center;
}

#menu {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu button {
  flex: 0;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  text-shadow: inherit;
  font-size: 1em;
  cursor: pointer;
  white-space: nowrap;
}

#menu button:hover {
  animation-name: highlight-text;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#menu button:focus {
  outline: none;
}

#menu button::-moz-focus-inner {
  border: 0;
}

#tabuleiro {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

#contentor-tabuleiro {
  position: relative;
  padding-top: 100%;
  width: 100%;
  height: 0;
}

#svg-tabuleiro {
  flex: 1;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

#rodape {
  font-size: 0.75em;
  text-align: center;
}

#rodape .fa-heart {
  color: red;
  text-shadow: 0 0 10px red;
  animation-name: heart-beat;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}

@media screen and (max-aspect-ratio: 3/4) {
  #contentor {
    flex-direction: column;
  }

  #menu {
    flex-direction: row;
  }
}

@keyframes heart-beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes highlight-text {
  0% {
    text-shadow: 0 0 12px white;
  }

  50% {
    text-shadow: 0 0 24px white;
  }

  100% {
    text-shadow: 0 0 12px white;
  }
}
