/*@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');*/

*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	font-family: 'Nunito Sans', sans-serif;
}


/*Configuração da tela para Digitar nome e dar play*/
div#pagina_inicial table{
	width: 70%;
	margin-top: 13%;
}

div#pagina_inicial table td{
	text-align: center;
}

td.titulo{
	font-size: 30px;
}

input{
	text-align: center;
	padding: 10px;
	font-size: 1rem;
}


/*Configuração do Jogo*/
div#palco_jogo{
	display: none; 
	margin-top: 50px; 
	text-align: center;
}

div#palco_jogo td div.jogada{
	width: 150px; 
	height: 150px;
}


/*Botões links ao final das páginas*/
div#botoes-final{
	width: 80%;
	margin: auto;
	text-align: center;
}

div#botoes-final button#recarregar{
	border: solid 1px #1ED107;
	background-color: white;
	color: #1ED107;
	font-family: 'Nunito Sans' sans-serif;
	font-size: 20px;
	text-decoration: none;
	padding: 20px 40px;
	border-radius: 5px;
	margin-top: 1%;
}

div#botoes-final button#recarregar:hover{
	background-color: #1ED107;
	color: white;
}


div#botoes-final a{
	display: inline-block;
	margin-top: 1%;
	text-decoration: none;
	border: 1px solid #D9422D;
	padding: 20px 40px;
	border-radius: 5px;
	background-color: #D9422D;
	color: white;
	font-size: 20px;
	font-family: 'Nunito Sans', sans-serif;
}

div#botoes-final a:hover{
	background-color: #B23625;
	border-color: #B23625;
}

@media(max-width: 1500px){
	div#botoes-final button#recarregar,
	div#botoes-final a{
		font-size: 15px;
		padding: 15px 35px;
	}
}